<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div>
<svg id="svgRoot" heigh="{{height}}" width="{{width}}">
	<polyline class="dimmed" points="2,2 2,98 198,98"></polyline>
  	<text x="4" y="15">123</text>
	<text x="4" y="94">456</text>
	<polyline id="today" class="bright" points="0,0"></polyline>
</svg>
</div>
